<template>
  <div class="application">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Start date</th>
              <th scope="col">End date</th>
              <th scope="col">Category</th>
              <th scope="col">Status</th>
              <th scope="col">Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(lv , index) in leaveApplications" v-bind:key="lv.id">
              <th scope="row">{{index + 1}}</th>
              <td>{{lv.start_date}}</td>
              <td>{{lv.end_date}}</td>
              <td>{{lv.category.name}}</td>
              <td v-bind:style="{background: lv.status.color}">{{lv.status.status}}</td>
              <td>{{lv.comment}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

<!--    <b-button >Create application</b-button>-->
    <br>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button v-b-modal="'appmodal'" style="width: 100%" type="button" class="btn btn-outline-primary">Apply for leave</button>
      </div>
      <div class="col-md-2"></div>
    </div>


    <b-modal id="appmodal" ref="appmodal" :title="appModalTitle">
      <form>
        <div class="form-group row">
          <label class="col-sm-4">Select range</label>
          <div class="col-sm-8">
            <vc-date-picker mode='range' :min-date='new Date()' v-model='selectedDates' color="blue" is-dark is-inline/>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleFormControlSelectLT">Leave application category</label>
          <select v-model="leaveCategory" class="form-control" id="exampleFormControlSelectLT">
            <option v-for="cat in leaveCategories" :value="cat.id" :key="cat.id">{{cat.name}}</option>
          </select>
          <small id="leavecathelp" class="form-text text-muted">Select the application type for this leave.</small>
        </div>
        <br>
      </form>
      <div slot="modal-footer">
        <p>
          <b-button class="float-right" variant="secondary" @click="closeAppModal()">Cancel</b-button>
          <b-button class="float-left mr-1" variant="primary" @click="createNewLeaveApplication()">Save</b-button>
        </p>
      </div>
    </b-modal>

  </div>
</template>

<script>
import api from './backend-api'

export default {
  name: 'bootstrap',

  data () {
    return {
      msg: 'Nice Bootstrap candy!',
      showResponse: false,
      backendResponse: '',
      leaveApplications: [],
      fullResponse: {
        config: {
          foo: '',
          bar: ''
        }
      },
      httpStatusCode: '',
      httpStatusText: '',
      headers: ['Noting here atm. Did you call the Service?'],
      errors: [],
      selectedDates : null,
      leaveCategories : [],
      leaveCategory : {},
      appModalTitle : "Create new application"
    }
  },
  created() {
    this.InitialiseL()
  },
  methods: {
    createNewLeaveApplication(){
      console.log(this.selectedDates.start)
      console.log(this.selectedDates.end)
    },
    InitialiseL(){
      api.getLeaveApplications().then(response => {
        this.leaveApplications = response.data;
        //console.log(response.data)
      })
              .catch(error => {
                this.errors.push(error)
              })

      api.getCategories().then(response => {
        this.leaveCategories = response.data;
        console.log(response.data)
      })
              .catch(error => {
                this.errors.push(error)
              })
    },
    closeAppModal(){
      this.newUser = {};
      this.$refs['appmodal'].hide();
    }
  }
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  margin-bottom: 20px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
