<template>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 style="text-align: left"> Create a new leave application</h4>
        <hr>
        <div class="row">
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-sm-4">Select range</label>
              <div class="col-sm-8">
                <vc-date-picker mode='range' :min-date='new Date()' v-model='selectedDates' color="blue" is-dark is-inline/>
              </div>
            </div>

          </div>
          <div class="col-md-6">

            <div class="form-group row">
              <label for="exampleFormControlSelect2" class="col-sm-5">Leave category</label>
              <div class="col-sm-7">
                <select v-model="leaveCategory" class="form-control" id="exampleFormControlSelect2">
                  <option v-for="cat in leaveCategories" :value="cat.id" :key="cat.id">{{cat.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-5"></label>
              <div class="col-sm-7">
                <button style="width: 100%" type="button" class="btn btn-outline-primary" @click="createNewLeaveApplication()">Apply for leave</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
</template>

<script>
  import api from "./backend-api";

  export default {
    name: 'service',

    data () {
      return {
        msg: 'HowTo call REST-Services:',
        errors: [],
        selectedDates : null,
        leaveCategories : [],
        leaveCategory : {}
      }
    },
    created() {
      this.InitialiseL()
    },
    methods: {

    }
  }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
