<template>
  <div class="user">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Enabled</th>
              <th scope="col">Roles</th>
              <th scope="col">Modify</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(usr , index) in users" v-bind:key="usr.id">
              <th scope="row">{{index + 1}}</th>
              <td>{{usr.username}}</td>
              <td>{{usr.email}}</td>
              <td>
                <b-icon v-if="usr.enabled == true" icon="alert-circle-fill" variant="success"></b-icon>
                <b-icon v-if="usr.enabled == false" icon="alert-circle-fill" variant="danger"></b-icon>
              </td>
              <td>{{usr.roles[0].name}}</td>
              <td>
                  <a @click="editUser(usr)"><font-awesome-icon icon="user-edit" /></a>
                  <a @click="deleteUser(usr)" ><font-awesome-icon style="color: red" icon="trash-alt" /></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

<!--    <b-button v-b-modal="'usermodal'">Create user</b-button>-->
    <br>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button v-b-modal="'usermodal'" style="width: 100%" type="button" class="btn btn-outline-primary">Create user</button>
      </div>
      <div class="col-md-2"></div>
    </div>

    <b-modal id="usermodal" ref="usermodal" :title="userModalTitle">
      <form>
        <div class="form-group">
          <label for="inputusername">Username</label>
          <input type="text" v-model="newUser.username" class="form-control" id="inputusername" placeholder="Enter username">
          <small id="usernamehelp" class="form-text text-muted">set new username</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" v-model="newUser.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" v-model="newUser.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" v-model="newUser.enabled" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Enabled</label>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleFormControlSelectRole">User roles</label>
          <select multiple v-model="newUser.roles" class="form-control" id="exampleFormControlSelectRole">
            <option v-for="r in roles">{{r.name}}</option>
          </select>
          <small id="rolesHelp" class="form-text text-muted">Select roles for this user, you can select more than one.</small>
        </div>
        <br>
      </form>
      <div slot="modal-footer">
        <p>
          <b-button class="float-right" variant="secondary" @click="closeUserModal()">Cancel</b-button>
          <b-button class="float-left mr-1" variant="primary" @click="createNewUser()">Save</b-button>
        </p>
      </div>
    </b-modal>

  </div>
</template>

<script>
  import api from "./backend-api";

  export default {
    name: 'user',

    data () {
      return {
        response: [],
        errors: [],
        users : [],
        roles : [{"id" : 0, "name" : "USER"}, {"id" : 0, "name" : "ADMIN"}, {"id" : 0, "name" : "SUPERVISOR"}, {"id" : 0, "name" : "FINANCE"}],
        user: {
          lastName: '',
          firstName: '',
          id: 0
        },
        showResponse: false,
        retrievedUser: {},
        showRetrievedUser: false,
        newUser : {
        },
        userModalTitle : "Create new user"
      }
    },
    created() {
      this.getAllUsers();
    },
    methods: {
      createNewUser () {
        //console.log(this.newUser);
        api.createUser(this.newUser).then(response => {
            console.log(response.data)
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      editUser (u) {
        this.newUser = u
        console.log(this.newUser)
        this.userModalTitle = "Edit user"
        this.$refs['usermodal'].show();
        // api.editUser(this.newUser).then(response => {
        //   console.log(response.data)
        // })
        // .catch(e => {
        //   this.errors.push(e)
        // })
      },
      closeUserModal(){
        this.newUser = {};
        this.$refs['usermodal'].hide();
      },
      getAllUsers () {
        api.getUsers().then(response => {
            this.users = response.data;
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      deleteUser(u){
        console.log("Delete this user")
        console.log(u)
        api.deleteUser(u.id).then(response => {
          console.log(response.data)
        })
        .catch(e => {
          this.errors.push(e)
        })
      }
    }
  }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 1px;
    margin: 2px;
  }
</style>
