<template>
  <div id="app">
<!--    <div id="nav">-->
<!--      <router-link to="/">Hello</router-link> |-->
<!--      <router-link to="/createapplication">Create application</router-link> |-->
<!--      <router-link to="/applications">My applications</router-link> |-->
<!--      <router-link to="/user">Manage users</router-link> |-->
<!--      <router-link to="/login">Login</router-link> |-->
<!--      <router-link to="/protected">Protected</router-link>-->
<!--    </div>-->
<!--    <router-view :hellomsg="msg"></router-view>-->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#">LEMANS</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item :to="'/'"> Hello </b-nav-item>
            <b-nav-item :to="'/applications'"><b-icon icon="calendar" scale="2.5" style="margin-right: 10px"></b-icon></b-nav-item>
            <b-nav-item :to="'/createapplication'"> Create application </b-nav-item>
            <b-nav-item :to="'/user'"><b-icon icon="person-fill"></b-icon> Manage users </b-nav-item>
            <b-nav-item :to="'/login'"> Login </b-nav-item>
            <b-nav-item :to="'/protected'"> Protected </b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>User</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view :hellomsg="msg"></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to your Vue.js powered Spring Boot App'
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
     color: #42b983;
    }
  }
}
</style>
